@import "general/variables";
@import "general/reset";
@import "general/fonts";
@import "objects/wrapper";

body {
    line-height: 1.5;
    color: #1f2e17;
    background: #7cba5f url('../img/pattern.png') repeat-x;
}

.c-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    @media (min-width: 800px) {
        justify-content: space-between;
    }

    h1 {
        font-family: coquette, sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #FFFFFF;
        letter-spacing: 0.56px;
        line-height: 60px;
        text-shadow: 0 3px 0 rgba(0, 0, 0, 0.17);
        margin: 0;

        @media (min-width: 800px) {
            font-size: 40px;
            text-shadow: 0 4px 0 rgba(0, 0, 0, 0.17);
        }

        a {
            color: inherit;
        }
    }

    &:after {
        content: "";
        display: block;
        flex: 0 0 100%;
        height: 5px;
        border-radius: 5px;
        background: #6fa755;
        margin-top: 1rem;
    }
}

.c-hero {
    padding: 3rem 0;
    text-align: center;

    .o-wrapper {
        display: flex;
        flex-direction: column;
    }

    h2 {
        position: relative;
        font-size: 30px;
        font-weight: bold;
        //width: fit-content;
        margin: 0 auto 4rem;

        @media (min-width: 800px) {
            font-size: 42px;
        }

        &:before {
            content: "";
            position: absolute;
            left: -16px;
            top: calc(50% - 50px);
            z-index: -1;
            width: 200px;
            height: 100px;
            border: 2px solid #fff;
        }
    }

    p {
        font-size: 1rem;
        max-width: 675px;
        margin-left: auto;
        margin-right: auto;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        @media (min-width: 800px) {
            font-size: 1.25rem;
        }
    }

    a {
        text-decoration: underline;
    }

    .c-button {
        align-self: center;
    }
}

.c-section {
    padding: 2rem 0;

    h2 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 1rem;
    }
}

.c-section--about {
    p {
        max-width: 750px;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    a {
        text-decoration: underline;
    }
}

.c-challenges__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
}

.c-challenge {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5rem;
    background: #66994e;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 6px 0 0 rgba(0,0,0,0.07);
    transition: 0.3s ease-out;

    img {
        width: 100%;
        grid-column: 1 / 3;
    }

    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
    }

    &.light {
        display: block;
        background: #fff;
        //max-width: 800px;
        //margin: 0 auto;
        padding: 1rem;
    }
}

.c-challenge__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    grid-column: 1 / 2;
}

.c-challenge__desc {
    opacity: 0.7;
    color: #fff;
    grid-column: 1 / 2;
}

.c-challenge__link {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    align-self: center;
    justify-self: end;
    margin-right: 0.5rem;
    font-size: 0;
    width: 42px;
    height: 42px;
    background: url('../img/arrow-right.svg') right center/42px no-repeat;
    opacity: 0.5;
    transition: 0.3s ease-out;

    &:hover {
        opacity: 1;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

footer {
    background: url('../img/footer-bg.png') bottom center/contain repeat-x;
    height: 220px;
}

iframe {
    //background: #fff;
    //border-radius: 7px;
}

.c-button {
    position: relative;
    top: 0;
    font-weight: 500;
    padding: 0.7rem 1.25rem;
    color: #487135;
    background: #E1F8D4;
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.24);
    border-radius: 10px;
    text-decoration: none !important;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-2px);
    }

    &:focus {
        top: 4px;
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.24);
    }
}

.c-button--multiple {
    padding: 0.7rem 1.85rem;
    background: #fff;

    &:after {
        content: "ishadeed.com";
        display: block;
        color: #8d8d8d;
        font-weight: 400;
    }
}