---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="c-hero">
  <div class="o-wrapper">
    <h2>CSS is Awesome</h2>
    <p>To leverage the best out of CSS, I got inspired by CSS Zen Garden, and for this time, I wanted to create a similar website that challenges us to completely edit a design without changing the HTML markup.</p>
    <p>Learn CSS Garden is a challenge that will have different HTML contents that needs to be styled. It can be on a component or page level.</p>
    <a href="#" class="c-button c-button--multiple">Read the introductory article</a>
  </div>
</section>

<section class="c-section">
  <div class="o-wrapper">
    <h2>Challenges</h2>
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    {# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
  </div>
</section>

<section class="c-section c-section--about">
  <div class="o-wrapper">
    <h2>About The Project</h2>
    <p class="u-limit">Learn CSS Garden is a project by Ahmad Shadeed @shadeed9. I made this project to practise and get the best out of CSS. Through our work as Front End Developers, we might need to do variations of a specific component or page. It?s better to do the change in CSS only, without changing the HTML markup, unless it?s impossible to do the design change without editing the HTML.</p>
    <p class="u-limit">The goal of this project is to challenge ourselves to do as much variation as possible, without changing the HTML markup for the design problem we?re working on.
    </p>
    <p class="u-limit">Are you in?</p>
  </div>
</section>