---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="c-hero">
  <div class="o-wrapper">
    <h2>CSS is Awesome</h2>
    <p>Learn CSS Garden is inspired by the well-known project, <a href="http://www.csszengarden.com/">CSS Zen Garden</a>. After I wrote my article <a href="#">Same HTML, different CSS</a>, I decided to make a similar project, but on a component-level.</p>
    <a href="https://ishadeed.com/article/same-html-different-css/" class="c-button c-button--multiple">Read the introductory article</a>
  </div>
</section>

<section class="c-section">
  <div class="o-wrapper">
    <h2>Challenges</h2>
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    {# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
  </div>
</section>

<section class="c-section c-section--about">
  <div class="o-wrapper">
    <h2>About The Project</h2>
    <p class="u-limit">Learn CSS Garden is a project by <a href="https://twitter.com/shadeed9">Ahmad Shadeed @shadeed9</a>. I made this project to practise and get the best out of CSS. Through our work as Front End Developers, we might need to do variations of a specific component or page. It's better to do the change in CSS only, without changing the HTML markup, unless it's impossible to do the design change without editing the HTML.</p>
    <p class="u-limit">The goal of this project is to challenge ourselves to do as much variation as possible, without changing the HTML markup for the design problem we're working on.
    </p>
    <p class="u-limit">Are you in?</p>
  </div>
</section>