.o-wrapper {
    position: relative;
    max-width: 1267px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1440px) {
        
    }
}