@import url(reset.css);
.wrapper {
  max-width: 700px;
  padding: 2rem 1rem;
  margin: 0 auto; }

.option {
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 1rem; }

img {
  max-width: 100%; }

body {
  font-family: 'Rubik';
  line-height: 1.35; }

form {
  padding: 1rem; }

form > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 1rem;
  align-content: center; }
  form > div h2 {
    grid-column: -1 / 1;
    flex-basis: 100%;
    font-weight: bold;
    font-size: 20px; }

.c-input-group {
  flex: 1; }
  .c-input-group input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0; }
  .c-input-group input:checked + label {
    font-weight: bold;
    color: #000;
    background: #ffca05;
    box-shadow: 0 0 0 5px #ffeeaf; }
    .c-input-group input:checked + label:before {
      border: 7px solid #222; }
  .c-input-group label {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 5px transparent;
    padding: 0.65rem 1rem 0.65rem 40px;
    border-radius: 10px;
    cursor: pointer; }
    .c-input-group label:before {
      content: "";
      position: absolute;
      left: 10px;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #ccc; }

*, *:before, *:after {
  box-sizing: border-box; }

div.option-1 .c-section {
  background: #eee;
  padding: 2rem 1rem; }
div.option-1 .c-section__title {
  color: #283593;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem; }
div.option-1 .c-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem 1rem; }
div.option-1 .c-services__item h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #283593; }
div.option-1 body {
  font-family: 'Rubik';
  line-height: 1.35; }

div.option-2 * {
  color: #323d51;
  font-family: "Open Sans"; }
div.option-2 .c-section {
  padding: 30px; }
div.option-2 .c-section__title {
  font-size: 1.5rem;
  margin-bottom: 1rem; }
div.option-2 .c-services {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid; }
  @media (min-width: 550px) {
    div.option-2 .c-services {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 800px) {
    div.option-2 .c-services {
      grid-template-columns: 1fr 1fr 1fr; } }
div.option-2 .c-services__item {
  padding: 16px;
  position: relative; }
  div.option-2 .c-services__item::before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 20px solid rgba(0, 0, 0, 0.03);
    border-right: 20px solid rgba(0, 0, 0, 0.03);
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent; }
  div.option-2 .c-services__item h3 {
    margin-bottom: 1rem; }
  div.option-2 .c-services__item p {
    margin-bottom: 0; }
  div.option-2 .c-services__item h3 {
    position: relative; }
    div.option-2 .c-services__item h3::after {
      content: "";
      display: block;
      background: orange;
      width: 30px;
      height: 5px;
      border-radius: 20px;
      margin-top: 12px; }
div.option-2 .c-services__item:nth-child(1) {
  background: #f0f8ff; }
  div.option-2 .c-services__item:nth-child(1) h3::after {
    background: #bce0ff; }
div.option-2 .c-services__item:nth-child(2) {
  background: #f8f8ff; }
  div.option-2 .c-services__item:nth-child(2) h3::after {
    background: #d2d2ff; }
div.option-2 .c-services__item:nth-child(3) {
  background: #fff5ee; }
  div.option-2 .c-services__item:nth-child(3) h3::after {
    background: #fedac0; }
div.option-2 .c-services__item:nth-child(4) {
  background: #f0fff0; }
  div.option-2 .c-services__item:nth-child(4) h3::after {
    background: #c9fec9; }
div.option-2 .c-services__item:nth-child(5) {
  background: #fff0f5; }
  div.option-2 .c-services__item:nth-child(5) h3::after {
    background: #fec4d7; }
div.option-2 .c-services__item:nth-child(6) {
  background: #f0ffff; }
  div.option-2 .c-services__item:nth-child(6) h3::after {
    background: #c7ffff; }

/*# sourceMappingURL=index.css.map */
