---
title: Article Header
description: This is a post on My Blog about leveraging agile frameworks.
date: 2018-07-04
thumb: img/thumb-1.svg
styles: 5
tags:
  - number-2
layout: layouts/post.njk
---

<section class="c-hero">
  <div class="o-wrapper">
    <h2>{{ title }}</h2>
    <p>
      Based on the below HTML markup, you need to work on a unique article header design. When you're done, please submit to Github.
    </p>
    <a href="https://github.com/shadeed/css-garden/issues/new" class="c-button">Submit a design</a>
  </div>
</section>

<section>
  <div class="o-wrapper">
    <p
      class="codepen"
      data-height="330"
      data-theme-id="dark"
      data-default-tab="html"
      data-user="shadeed"
      data-slug-hash="9fc608faf7dd459f64d5f40d611530af"
      style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 0; margin: 1em 0; padding: 1em;"
      data-pen-title="Article Header Starter"
    >
      <span
        >See the Pen
        <a
          href="https://codepen.io/shadeed/pen/9fc608faf7dd459f64d5f40d611530af"
        >
          Article Header Starter</a
        >
        by Ahmad Shadeed (<a href="https://codepen.io/shadeed">@shadeed</a>)
        on <a href="https://codepen.io">CodePen</a>.</span
      >
    </p>
    <script
      async
      src="https://static.codepen.io/assets/embed/ei.js"
    ></script>
  </div>
</section>

<section class="c-section">
  <div class="o-wrapper">
    <h2>Available Solutions</h2>
    <div class="c-challenges__wrapper">
      <iframe width="100%" height="700px" src="../../challenges/article-design/article-design.html" frameborder="0"></iframe>
    </div>
  </div>
</section>