---
title: Website Footer
description: This is a post on My Blog about leveraging agile frameworks.
date: 2018-07-04
thumb: img/thumb-2.svg
styles: 0
tags:
  - number-2
layout: layouts/post.njk
---

<section class="c-hero">
  <div class="o-wrapper">
    <h2>{{ title }}</h2>
    <p>
      Work on a unique website footer design, based on the below markup. When you're done, please submit to Github.
    </p>
    <a href="https://github.com/shadeed/css-garden/issues/new" class="c-button">Submit Design</a>
  </div>
</section>

<section>
  <div class="o-wrapper">
    <p class="codepen" data-height="379" data-theme-id="dark" data-default-tab="html" data-user="shadeed" data-slug-hash="d09a24baa8cea203d861fa4428097992" style="height: 379px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Website Footer Starter">
  <span>See the Pen <a href="https://codepen.io/shadeed/pen/d09a24baa8cea203d861fa4428097992">
  Website Footer Starter</a> by Ahmad Shadeed (<a href="https://codepen.io/shadeed">@shadeed</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </div>
</section>

<section class="c-section">
  <div class="o-wrapper">
    <h2>Available Solutions</h2>
    <p>No available solutions.</p>
  </div>
</section>